<div class="pop-window-header">
  <span href="#" class="close-pop-window"></span>
  <span class="pop-window-header-title">Delete card</span>
</div>
<div class="pop-window-content">
  <p>Click this button will remove this card. This action is no undo.</p>
  <span class="submit-button delete-submit-btn">Delete</span>
</div>