<div class="pop-window-header">
  <span href="#" class="close-pop-window"></span>
  <span class="pop-window-header-title">Change Due Date</span>
</div>
<div class="pop-window-content">
  <div class="datepicker-select-date">
    <label for="card-date-input" class="date-input-title">Date</label>
    <input type="text" id="card-date-input" class="due-date-input" name="date" placeholder="Enter Date">
  </div>
  <div class="datepicker-select-time">
    <label for="card-time-input" class="date-input-title">Time</label>
    <input type="text" id="card-time-input" class="due-date-input" name="time" placeholder="Enter Time">
  </div>
  <div class="date-picker-container">
  </div>
  <div class="date-picker-control">
    <input type="submit" value="Save" class="submit-button date-submit-btn">
    <input type="submit" value="Remove" class="submit-button date-remove-btn">
  </div>
</div>