<header>
  <div class="header-search">
    <input type='text'>
  </div>

  <a class="header-logo" href="/"></a>

  <div class="header-notification">
    <span class="icon-bell open-notification-btn"></span>
  </div>
</header>

<main>
  <div class="subscribe-activity"></div>
  <div class="board-header">
    <a class="board-header-btn">
      <span class="board-header-btn-text board-header-btn-name">Ruby on rails</span>
    </a>
    <div class="board-header-btns">
      <a class="board-header-btn board-header-star" href="#">
        <span class="board-header-btn icon-star">
      </a>
      <a class="board-header-btn" href="#">
        <span class="board-header-btn icon-lock"></span>
        <span class="board-header-btn-text">Private</span>
      </a>
    </div>
  </div>
  <div class="lists-container"></div>
</main>
<div id="modal-overlay" class="modal">
  <div class="modal edit-modal-container"></div>
</div>

  