<div class="pop-window-header">
  <span href="#" class="close-pop-window"></span>
  <span class="pop-window-header-title">Move Card</span>
</div>
<div class="pop-window-content">
  <h3>Move to...</h3>
  <div class="flex-grid">
    <div class="button-link list-selector-container threequarter">

    </div>
    <div class="button-link position-selector-container quarter">

    </div>
  </div>
  <span class="submit-button move-submit-btn">Move</span>
</div>
