<form action="newlist" method="post" class="new-list-form">
  <span class="open-list-composer">Add a list...</span>
  <input class="list-name-input list-composer" name="title" type="text" placeholder="Add a list...">
  <div class="list-composer">
    <input id="newlist-create" class="submit-button" type="submit" value="Add">
    <span class="close-composer-btn exit-list-composer"></span>
  </div>
</form>