@import url("whitespace_reset.css");
.inline-block {
  display: inline-block;
  vertical-align: top;
}
.clear {
  clear: both;
}
.smaller {
  font-size: 9px;
  color: #8c8c8c;
}
.label-red {
  background: #eb5a46;
}
.label-green {
  background: #61bd4f;
}
.label-blue {
  background: #0079bf;
}
.label-orange {
  background: #ffab4a;
}
.label-yellow {
  background: #f2d600;
}
.label-purple {
  background: #c377e0;
}
.label-aqua {
  background: #00c2e0;
}
.label-pink {
  background: #ff80ce;
}
.label-lime {
  background: #51e898;
}
.label-black {
  background: #4d4d4d;
}
.close-modal {
  float: right;
  width: 16px;
  height: 16px;
  cursor: pointer;
  background: transparent url("/images/icon-exit.png") 0 0 no-repeat;
}
.close-pop-window {
  position: absolute;
  top: 10px;
  right: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: transparent url("/images/icon-exit.png") 0 0 no-repeat;
}
.close-edit-modal {
  float: right;
  width: 24px;
  height: 24px;
  background: transparent url("/images/icon-exit-composer.png") 0 0 no-repeat;
  background-size: 24px 24px;
}
textarea:focus {
  outline: none;
}
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
textarea {
  padding: 10px;
  border-radius: 3px;
  box-sizing: border-box;
  resize: none;
}
h3 {
  font-weight: normal;
}
body {
  font: normal 14px Helvetica, Arial, sans-serif;
  background: #0079bf;
}
header {
  height: 30px;
  padding: 5px;
  background: #026aa7;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
header .header-search {
  position: absolute;
  left: 50px;
}
header .header-search .close-modal {
  display: none;
  position: absolute;
  right: 6px;
  top: 6px;
}
header .header-search input[type="text"] {
  border: none;
  border-radius: 3px;
  width: 150px;
  padding: 7px 7px;
  background: rgba(255,255,255,0.3) url("/images/header-search.png") 100% 3px no-repeat;
}
header .header-search input[type="text"]:hover {
  background: rgba(255,255,255,0.4) url("/images/header-search.png") 100% 3px no-repeat;
}
header .header-search input[type="text"].search-input-extend {
  width: 300px;
  background: #fff;
}
header a.header-logo {
  position: absolute;
  display: block;
  left: 50%;
  margin-left: -30px;
  width: 20%;
  height: 24px;
  background: transparent url("/images/header-logo.png") 0 0 no-repeat;
  background-size: 80px 30px;
}
header .header-notification {
  position: absolute;
  right: 5px;
  width: 30px;
  background: rgba(255,255,255,0.3);
  border-radius: 3px;
}
header .header-notification:hover {
  background: rgba(255,255,255,0.4);
}
header .header-notification span.icon-bell {
  display: block;
  width: 30px;
  height: 30px;
  background: transparent url("/images/header-bell.png") 50% 50% no-repeat;
  background-size: 14px 16px;
}
header .bell-active {
  background: #f00;
}
main {
  margin-top: 40px;
  padding: 5px 10px;
  white-space: nowrap;
}
main .subscribe-activity {
  display: none;
  position: absolute;
  top: 40px;
  right: 5px;
  width: 450px;
  padding: 10px;
  background: #ececec;
  border-radius: 3px;
  box-sizing: border-box;
  z-index: 3;
}
main .subscribe-activity .notification-header {
  position: relative;
  padding: 0 0 10px 0;
  text-align: center;
  border-bottom: 1px solid #d6dadc;
}
main .subscribe-activity .notification-header .close-modal {
  position: absolute;
  right: 0;
  top: 0;
}
main .subscribe-activity .notification-header h3 {
  color: #8c8c8c;
}
main .subscribe-activity .notification-wrapper {
  height: 200px;
  overflow: hidden;
  padding: 10px 0 0 0;
}
main .subscribe-activity .notification-wrapper li {
  padding: 10px;
  margin-bottom: 5px;
  background: #fafafa;
  border-radius: 3px;
}
main .subscribe-activity .notification-wrapper li p {
  margin-top: 10px;
}
main .subscribe-activity .notification-wrapper li a {
  display: inline-block;
  padding: 0 5px 0 0;
  text-decoration: underline;
  color: #000;
}
main .subscribe-activity .notification-wrapper li .smaller {
  margin: 0 0 0 5px;
}
main .board-header .board-header-btn {
  display: inline-block;
  border-radius: 3px;
  color: #f6f6f6;
}
main .board-header .board-header-btn:hover {
  background: #026aa7;
}
main .board-header .board-header-btn-text {
  font-weight: bold;
  font-size: 9px;
}
main .board-header a.board-header-btn {
  display: inline-block;
  padding: 5px 10px;
}
main .board-header a.board-header-btn span.board-header-btn-name {
  font-size: 18px;
}
main .board-header div.board-header-btns {
  display: inline-block;
}
main .board-header div.board-header-btns span.icon-star {
  width: 12px;
  height: 12px;
  background: transparent url("/images/board-header-star.png") 0 0 no-repeat;
  background-size: 12px 12px;
}
main .board-header div.board-header-btns span.icon-lock {
  width: 12px;
  height: 12px;
  background: transparent url("/images/board-header-lock.png") 50% 50% no-repeat;
  background-size: 12px 12px;
}
main .board-header div.board-header-btns span.board-header-btn-text {
  padding-left: 5px;
  font-weight: normal;
}
main .list-placeholder {
  display: inline-block;
  background: #c4c9cc;
  margin-right: 10px;
  border-radius: 3px;
}
main .list-card {
  display: inline-block;
  vertical-align: top;
  width: 270px;
  margin-right: 10px;
  background: #e2e4e6;
  border-radius: 3px;
  box-sizing: border-box;
}
main .list-card h2 {
  padding: 10px 10px 5px 10px;
}
main .list-card h2:hover {
  cursor: pointer;
}
main .list-card ul {
  padding: 0 10px;
  min-height: 10px;
}
main .list-card ul .card-placeholder {
  background: #c4c9cc;
}
main .list-card ul li {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 0 7px 0;
  padding: 10px;
  border-radius: 3px;
  background: #fff;
  box-sizing: border-box;
}
main .list-card ul li:hover {
  background: #f7f7f7;
}
main .list-card ul li span.edit {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 24px;
  height: 24px;
  border-radius: 2px;
  background: transparent url("/images/icon-edit.png") 50% 50% no-repeat;
  background-size: 12px 12px;
}
main .list-card ul li span.edit:hover {
  background: #ccc url("/images/icon-edit.png") 50% 50% no-repeat;
  background-size: 12px 12px;
}
main .list-card ul li:hover span.edit {
  display: block;
}
main .list-card ul .list-card-labels {
  width: 90%;
  white-space: normal;
}
main .list-card ul .list-card-labels span.card-label {
  display: inline-block;
  height: 7px;
  width: 40px;
  border-radius: 2px;
  margin: 0 3px 3px 0;
}
main .list-card ul h3 {
  color: #4d4d4d;
}
main .list-card ul .list-card-badges {
  width: 100%;
  max-height: 20px;
}
main .list-card ul .list-card-badges .card-badge {
  margin-right: 7px;
  padding: 1px;
}
main .list-card ul .list-card-badges .card-badge span {
  padding: 2px;
}
main .list-card ul .list-card-badges .card-badge:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
}
main .list-card ul .list-card-badges .badge-subscribe:before {
  background: transparent url("/images/icon-sub.png") 50% 50% no-repeat;
  background-size: 12px 12px;
}
main .list-card ul .list-card-badges .badge-future-dueDate {
  vertical-align: -3px;
}
main .list-card ul .list-card-badges .badge-future-dueDate:before {
  background: transparent url("/images/icon-clock.png") 50% 50% no-repeat;
  background-size: 12px 12px;
}
main .list-card ul .list-card-badges .badge-description:before {
  background: transparent url("/images/icon-description.png") 50% 50% no-repeat;
  background-size: 12px 12px;
}
main .list-card ul .list-card-badges .badge-comments:before {
  background: transparent url("/images/comment-icon.png") 50% 50% no-repeat;
  background-size: 12px 12px;
}
main .list-card .card-composer {
  display: none;
  padding: 0 10px 10px 10px;
}
main .list-card .card-composer textarea {
  display: block;
  width: 100%;
  height: 65px;
  margin: 0 0 10px 0;
  border: none;
}
main .list-card .open-card-composer {
  display: block;
  padding: 10px;
  color: #666;
  border-radius: 0 0 3px 3px;
}
main .list-card .open-card-composer:hover {
  background: #ccc;
  text-decoration: underline;
}
main .new-list {
  display: inline-block;
  vertical-align: top;
  width: 270px;
  background: #026aa7;
  padding: 10px 10px;
  border-radius: 5px;
  box-sizing: border-box;
}
main .new-list .open-list-composer {
  display: block;
  color: #bababa;
  cursor: pointer;
}
main .new-list .list-composer {
  display: none;
}
main .new-list .list-name-input {
  width: 100%;
  margin: 0 0 5px 0;
  padding: 7px 11px;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 14px;
}
main .new-list .list-name-input:focus {
  outline: none;
}
#modal-overlay {
  display: none;
  overflow: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  content: "";
  background: rgba(0,0,0,0.4);
}
#edit-card-modal {
  position: absolute;
  top: 50px;
  width: 740px;
  left: 50%;
  margin-left: -370px;
  padding: 10px;
  border-radius: 3px;
  color: #8c8c8c;
  z-index: 12;
  box-sizing: border-box;
  background: #edeff0;
}
#edit-card-modal h2 {
  font-size: 18px;
  color: #4d4d4d;
  margin: 0 0 7px 0;
}
#edit-card-modal h3 {
  margin: 0 0 5px 0;
}
#edit-card-modal .card-main {
  width: 73%;
}
#edit-card-modal .card-header {
  margin: 0 0 10px 0;
  text-indent: 40px;
  background: transparent url("/images/icon-card-header.png") 0 0 no-repeat;
}
#edit-card-modal .card-header textarea {
  display: none;
  width: 493px;
  min-height: 22px;
  padding: 5px 0 0 8px;
  border: none;
  font: bold 18px Helvetica, Arial, sans-serif;
  resize: vertical;
  word-wrap: break-word;
}
#edit-card-modal .card-header .card-move {
  text-decoration: underline;
  color: #8c8c8c;
  cursor: pointer;
}
#edit-card-modal .card-header .subscribe-active {
  display: inline-block;
  vertical-align: top;
  width: 16px;
  height: 16px;
  background: transparent url("/images/icon-sub.png") 0 0 no-repeat;
  margin: 0 0 0 10px;
}
#edit-card-modal .card-main-content {
  margin: 0 0 40px 40px;
}
#edit-card-modal .card-labels {
  float: left;
  padding: 0 10px 0 0;
}
#edit-card-modal .card-labels .card-label {
  float: left;
  height: 30px;
  min-width: 40px;
  margin: 0 5px 5px 0;
  padding: 6px 10px 0 10px;
  border-radius: 5px;
  text-shadow: 0 0 5px rgba(0,0,0,0.2), 0 0 2px #000;
  color: #fff;
  font-weight: bold;
  box-sizing: border-box;
  cursor: pointer;
}
#edit-card-modal .card-labels .card-label-add {
  display: inline-block;
  vertical-align: top;
  height: 30px;
  width: 30px;
  border-radius: 5px;
  cursor: pointer;
  background: #ccc url("/images/icon-label-add.png") 50% 50% no-repeat;
}
#edit-card-modal .card-due-date {
  margin: 0 0 25px 0;
  float: left;
}
#edit-card-modal .card-due-date .edit-card-due {
  display: inline-block;
  padding: 7px;
  background: #ddd;
  text-decoration: underline;
  border-radius: 3px;
  cursor: pointer;
}
#edit-card-modal .card-due-date .edit-card-due input[type="checkbox"] {
  display: none;
}
#edit-card-modal .card-due-date .edit-card-due label {
  display: inline-block;
  vertical-align: top;
  width: 16px;
  height: 16px;
  margin: 0 10px 0 0;
  background: transparent url("/images/icon-square-checkbox.png") 50% 50% no-repeat;
}
#edit-card-modal .card-due-date .edit-card-due input[type="checkbox"]:checked + label {
  background: transparent url("/images/icon-checkbox-checkbox.png") 50% 50% no-repeat;
}
#edit-card-modal .card-due-date .edit-card-due:hover {
  background: #d6dadc;
  color: #4d4d4d;
  cursor: pointer;
}
#edit-card-modal .card-due-date .is-completed {
  background-color: #519839;
  color: #fff;
}
#edit-card-modal .card-due-date .is-completed:hover {
  background-color: #519839;
  color: #fff;
  cursor: pointer;
}
#edit-card-modal .card-description {
  clear: both;
}
#edit-card-modal .card-description span {
  margin-left: 10px;
  text-decoration: underline;
  cursor: pointer;
}
#edit-card-modal .card-description p {
  color: #222;
}
#edit-card-modal .card-description .description-submit-controls {
  display: none;
}
#edit-card-modal .card-description .description-submit-controls textarea {
  display: block;
  width: 100%;
  height: 110px;
  background: rgba(0,0,0,0.03);
  border-color: rgba(0,0,0,0.15);
  box-shadow: inset 0 1px 6px rgba(0,0,0,0.1);
  margin-bottom: 4px;
}
#edit-card-modal .card-add-comment {
  margin: 0 0 10px 0;
  width: 100%;
  text-indent: 40px;
  background: transparent url("/images/icon-card-comment.png") 0 0 no-repeat;
}
#edit-card-modal .card-add-comment form {
  position: relative;
  text-align: right;
}
#edit-card-modal .card-add-comment form textarea {
  display: block;
  width: 92.5%;
  min-height: 75px;
  margin: 0 0 10px 40px;
}
#edit-card-modal .card-add-comment form input[type="submit"]:disabled {
  background: #e2e4e6;
  color: #8c8c8c;
}
#edit-card-modal .card-activities {
  margin: 0 0 10px 0;
  text-indent: 40px;
  background: transparent url("/images/icon-card-comments.png") 0 0 no-repeat;
}
#edit-card-modal .card-activities ul {
  margin: 0 0 0 40px;
  text-align: left;
  text-indent: 0;
}
#edit-card-modal .card-activities li {
  padding: 15px 0 0 0;
}
#edit-card-modal .card-activities li p {
  margin: 0 0 15px 0;
}
#edit-card-modal .card-activities li a {
  text-decoration: underline;
}
#edit-card-modal .card-activities li + li {
  border-top: 1px solid #d8d8d8;
}
#edit-card-modal .card-activities .comment-content {
  text-indent: 0;
  display: inline-block;
  margin: 0 0 10px 0;
  padding: 9px 11px;
  background: #fff;
  color: #4d4d4d;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.23);
}
#edit-card-modal .card-aside {
  width: 23%;
  padding: 15px;
  margin-top: 50px;
  color: #4d4d4d;
  box-sizing: border-box;
}
#edit-card-modal .card-aside .card-aside-btn {
  display: block;
  margin: 0 0 10px 0;
  padding: 9px 7px 5px 7px;
  border: 1px solid #e2e4e6;
  border-radius: 3px;
  font-weight: bold;
  background: linear-gradient(to bottom, #fff 0, #f8f9f9 100%);
  box-sizing: border-box;
  cursor: pointer;
}
#edit-card-modal .card-aside .card-aside-btn:hover {
  background: #298fca;
  color: #fff;
}
#edit-card-modal .card-aside .subscribe-active {
  display: inline-block;
  vertical-align: top;
  width: 24px;
  height: 18px;
  margin: 0 0 0 5px;
  border-radius: 3px;
  background: #61bd4f;
}
#edit-card-modal .card-aside .subscribe-active:before {
  vertical-align: top;
  content: '';
  display: inline-block;
  width: 24px;
  height: 18px;
  background: transparent url("/images/icon-subscribe-check.png") 50% 50% no-repeat;
  background-size: 14px 14px;
}
#edit-card-modal .card-aside .card-add-label:before {
  vertical-align: top;
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent url("/images/icon-add-label.png") 0 0 no-repeat;
}
#edit-card-modal .card-aside .card-add-due:before {
  vertical-align: top;
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent url("/images/icon-card-due.png") 0 0 no-repeat;
}
#edit-card-modal .card-aside .card-move:before {
  vertical-align: top;
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent url("/images/icon-move.png") 0 0 no-repeat;
}
#edit-card-modal .card-aside .card-copy:before {
  vertical-align: top;
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent url("/images/icon-card-copy.png") 0 0 no-repeat;
}
#edit-card-modal .card-aside .card-subscribe:before {
  vertical-align: top;
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent url("/images/icon-sub.png") 0 0 no-repeat;
}
#edit-card-modal .card-aside .card-archive:before {
  vertical-align: top;
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent url("/images/icon-archive.png") 0 0 no-repeat;
}
#edit-card-modal .pop-window {
  display: none;
  position: absolute;
  width: 300px;
  top: 150px;
  left: 550px;
  padding: 8px;
  border: 1px solid #d6dadc;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 6px rgba(0,0,0,0.15);
  box-sizing: border-box;
  z-index: 5;
}
.pop-window-overlay {
  display: none;
  position: fixed;
  background: rgba(0,0,0,0);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 4;
}
.pop-window-header {
  position: relative;
  text-align: center;
  margin: 0 0 10px 0;
}
.pop-window-header .pop-window-header-title {
  display: block;
  line-height: 36px;
  border-bottom: 1px solid #d6dadc;
}
.labels-wrapper .label-input {
  width: 100%;
  margin: 0 0 10px 0;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ececec;
  background: #e2e4e6;
  box-sizing: border-box;
  outline: none;
}
.labels-wrapper .label-input:focus {
  background: #fff;
  border-color: #298fca;
  box-shadow: 0 0 2px #298fca;
}
.labels-wrapper li.label-active {
  background: #000;
}
.labels-wrapper .toggle-card-label {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 240px;
  height: 35px;
  padding: 10px;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 0 5px rgba(0,0,0,0.2), 0 0 2px #000;
  box-sizing: border-box;
}
.labels-wrapper .toggle-card-label .label-active {
  display: inline-block;
  background: transparent url("/images/icon-label-check.png") 0 0 no-repeat;
  width: 16px;
  height: 16px;
  position: absolute;
  right: 10px;
}
.labels-wrapper .edit-card-label {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 0 0 0 5px;
  border-radius: 3px;
  background: transparent url("/images/icon-edit.png") 50% 50% no-repeat;
  background-size: 12px 12px;
  cursor: pointer;
}
.labels-wrapper .edit-card-label:hover {
  background-color: #d6dadc;
}
.labels-wrapper .create-new-label {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #d6dadc;
  text-decoration: underline;
  cursor: pointer;
}
.label-edit-wrapper .submit-button {
  padding: 12px 20px;
}
.label-edit-wrapper .pre-pop-window {
  position: absolute;
  top: 10px;
  left: 0;
  width: 16px;
  height: 16px;
  cursor: pointer;
  background: transparent url("/images/icon-prev.png") 0 0 no-repeat;
}
.label-edit-wrapper .close-pop-window {
  background: transparent url("/images/icon-exit.png") 0 0 no-repeat;
}
.label-edit-wrapper .label-input {
  width: 100%;
  margin: 0 0 10px 0;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ececec;
  background: #e2e4e6;
  box-sizing: border-box;
  outline: none;
}
.label-edit-wrapper .label-input:focus {
  background: #fff;
  border-color: #298fca;
  box-shadow: 0 0 2px #298fca;
}
.label-edit-wrapper .label-active {
  display: inline-block;
  background: transparent url("/images/icon-label-check.png") 0 0 no-repeat;
  width: 16px;
  height: 16px;
  margin: 10px 15px;
}
.label-edit-wrapper .label-color-picker {
  float: left;
  height: 36px;
  margin: 0 10px 10px 0;
  width: 45px;
  border-radius: 3px;
  cursor: pointer;
}
.label-edit-wrapper .edit-label-controls {
  clear: both;
  position: relative;
}
.label-edit-wrapper .label-submit-btn {
  padding-left: 30px;
  padding-right: 30px;
}
.label-edit-wrapper .label-remove-btn {
  position: absolute;
  right: 0;
  background: linear-gradient(to bottom, #d6dadc 0, #cdd2d4 100%);
  color: #b04632;
}
.label-edit-wrapper .label-remove-btn:hover {
  background: linear-gradient(to bottom, #cf513d 0, #b04632 100%);
  color: #fff;
  box-shadow: 0 1px 0 #4d4d4d;
}
.due-date-wrapper .pop-window-content .datepicker-select-date,
.due-date-wrapper .pop-window-content .datepicker-select-time {
  float: left;
  margin: 0 0 20px 0;
}
.due-date-wrapper .pop-window-content .datepicker-select-date {
  padding: 0 5px 0 0;
}
.due-date-wrapper .pop-window-content .date-input-title {
  display: block;
  font-weight: bold;
  color: #4d4d4d;
}
.due-date-wrapper .pop-window-content .due-date-input {
  width: 135px;
  background: #e2e4e6;
  padding: 7px;
  border: 1px solid #cdd2d4;
  border-radius: 3px;
  box-sizing: border-box;
}
.due-date-wrapper .pop-window-content .due-date-input:focus {
  background: #fff;
  border-color: #298fca;
  box-shadow: 0 0 2px #298fca;
}
.due-date-wrapper .pop-window-content .date-picker-container {
  clear: both;
  margin: 0 0 10px 0;
}
.due-date-wrapper .pop-window-content .date-picker-container .ui-datepicker-prev {
  float: left;
}
.due-date-wrapper .pop-window-content .date-picker-container .ui-datepicker-next {
  float: right;
}
.due-date-wrapper .pop-window-content .date-picker-container .ui-datepicker-title {
  text-align: center;
  margin: 0 0 10px 0;
}
.due-date-wrapper .pop-window-content .ui-datepicker-today {
  font-weight: bold;
}
.due-date-wrapper .pop-window-content table,
.due-date-wrapper .pop-window-content td,
.due-date-wrapper .pop-window-content th {
  vertical-align: top;
  border-top: 1px solid #d6dadc;
  border-left: 1px solid #d6dadc;
}
.due-date-wrapper .pop-window-content thead {
  background: linear-gradient(to bottom, #fff 0, #edeff0 100%);
}
.due-date-wrapper .pop-window-content td,
.due-date-wrapper .pop-window-content th {
  border-right: 1px solid #d6dadc;
  border-bottom: 1px solid #d6dadc;
}
.due-date-wrapper .pop-window-content table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 280px;
  height: 190px;
  box-sizing: border-box;
}
.due-date-wrapper .pop-window-content table th {
  line-height: 25px;
  font-weight: 700;
}
.due-date-wrapper .pop-window-content table td {
  text-align: center;
  padding: 0;
}
.due-date-wrapper .pop-window-content table td.ui-state-disabled {
  background: #edeff0;
}
.due-date-wrapper .pop-window-content table td a {
  display: block;
  padding: 8px;
  color: #4d4d4d;
}
.due-date-wrapper .pop-window-content table td a:hover {
  background: #d6dadc;
}
.due-date-wrapper .pop-window-content table td a.ui-state-active {
  color: #fff;
  background: #0079bf;
}
.due-date-wrapper .pop-window-content .date-picker-control {
  position: relative;
}
.due-date-wrapper .pop-window-content .date-picker-control .submit-button {
  padding-top: 12px;
  padding-bottom: 12px;
}
.due-date-wrapper .pop-window-content .date-picker-control .date-submit-btn {
  padding-left: 30px;
  padding-right: 30px;
}
.due-date-wrapper .pop-window-content .date-picker-control .date-remove-btn {
  position: absolute;
  right: 0;
  background: linear-gradient(to bottom, #d6dadc 0, #cdd2d4 100%);
  color: #b04632;
}
.due-date-wrapper .pop-window-content .date-picker-control .date-remove-btn:hover {
  background: linear-gradient(to bottom, #cf513d 0, #b04632 100%);
  color: #fff;
  box-shadow: 0 1px 0 #4d4d4d;
}
.archive-wrapper p {
  font-weight: bold;
  font-size: 18px;
  color: #000;
  padding: 0 0 20px 0;
}
.comment-edit-controls {
  padding: 0 0 10px 0;
  display: none;
}
.comment-edit-controls li + li {
  border-top: 1px solid #e2e4e6;
}
.comment-edit-controls textarea {
  width: 100%;
  height: 100px;
  margin: 0 0 10px 0;
}
.pop-window-content h3 {
  color: #4d4d4d;
  font-weight: bold;
}
.pop-window-content textarea {
  width: 100%;
  height: 70px;
  margin: 0 0 10px 0;
  background: #e2e4e6;
  border: 1px solid #cdd2d4;
}
.pop-window-content textarea:hover {
  border-color: #a5acb0;
}
.pop-window-content textarea:focus {
  background: #fff;
  border-color: #298fca;
  box-shadow: 0 0 2px #298fca;
}
.pop-window-content .copy-option-check {
  color: #4d4d4d;
  margin: 0 0 0 10px;
  display: block;
}
.pop-window-content .flex-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 0 10px 0;
}
.pop-window-content .button-link {
  float: left;
  position: relative;
  height: 52px;
  max-width: 300px;
  padding: 7px;
  margin-top: 6px;
  font-weight: 700;
  border-radius: 3px;
  border: 1px solid #e2e4e6;
  border-bottom-color: #cdd2d4;
  background: -webkit-linear-gradient(top, #fff 0, #f8f9f9 100%);
  background: linear-gradient(to bottom, #fff 0, #f8f9f9 100%);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
  box-sizing: border-box;
}
.pop-window-content .button-link:hover {
  background: #298fca;
  border-color: #298fca #298fca #026aa7;
}
.pop-window-content .button-link .label {
  color: #8c8c8c;
  display: block;
  font-size: 9pt;
  line-height: 14px;
  margin-bottom: 0;
}
.pop-window-content .button-link .value {
  display: block;
  font-size: 18px;
  line-height: 24px;
  color: #4d4d4d;
  overflow: hidden;
  text-overflow: ellipsis;
}
.pop-window-content .threequarter {
  -webkit-box-flex: 3;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  margin-right: 10px;
}
.pop-window-content .quarter {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.pop-window-content #list-selector,
.pop-window-content #position-selector {
  border: none;
  cursor: pointer;
  height: 50px;
  left: 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
}
.search-container {
  display: none;
  position: absolute;
  top: 40px;
  left: 50px;
  width: 500px;
  height: 300px;
  padding: 10px;
  border-radius: 3px;
  color: #8c8c8c;
  z-index: 5;
  box-sizing: border-box;
  background: #edeff0;
  overflow: hidden;
}
.search-container ul {
  font-size: 18px;
}
.search-container ul li {
  padding: 10px;
}
.search-container ul li a {
  text-decoration: underline;
  color: #000;
  cursor: pointer;
}
.comment-control-btn {
  cursor: pointer;
  color: #00f;
  text-decoration: underline;
}
.close-composer-btn {
  margin: 5px 0 0 5px;
  display: inline-block;
  vertical-align: top;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background: transparent url("/images/icon-exit-composer.png") 0 0 no-repeat;
}
.submit-button {
  display: inline-block;
  padding: 8px 20px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  background: linear-gradient(to bottom, #61bd4f 0, #5aac44 100%);
  color: #fff;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}
.submit-button:hover {
  background: linear-gradient(to bottom, #5aac44 0, #519839 100%);
}
.delete-submit-btn {
  width: 100%;
  background: linear-gradient(to bottom, #d6dadc 0, #cdd2d4 100%);
  color: #b04632;
  text-align: center;
  cursor: pointer;
}
.delete-submit-btn:hover {
  background: linear-gradient(to bottom, #cf513d 0, #b04632 100%);
  color: #fff;
  box-shadow: 0 1px 0 #4d4d4d;
}
.helper-tilt {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  transform: rotate(3deg);
}
