textarea
  padding: 10px
  border-radius: 3px
  box-sizing: border-box
  resize: none
  &:focus
    outline: none

h3
  font-weight: normal


input[type="submit"]
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none


.inline-block
  display: inline-block
  vertical-align: top
  
.clear
  clear: both
  
.smaller
  font-size: 9px
  color: #8c8c8c
  
.label-red
  background: #eb5a46
.label-green
  background: #61bd4f
.label-blue
  background: #0079bf
.label-orange
  background: #ffab4a
.label-yellow
  background: #f2d600
.label-purple
  background: #c377e0
.label-aqua
  background: #00c2e0
.label-pink
  background: #ff80ce
.label-lime
  background: #51e898
.label-black
  background: #4d4d4d
  
.close-modal
  float: right
  width: 16px
  height: 16px
  cursor: pointer
  background: transparent url('/images/icon-exit.png') 0 0 no-repeat
.close-pop-window
  position: absolute
  top: 10px
  right: 0
  width: 20px
  height: 20px
  cursor: pointer
  background: transparent url('/images/icon-exit.png') 0 0 no-repeat
.close-edit-modal
  float: right
  width: 24px
  height: 24px
  background: transparent url('/images/icon-exit-composer.png') 0 0 no-repeat
  background-size: 24px 24px



.comment-control-btn
  cursor: pointer
  color: #00f
  text-decoration: underline

.close-composer-btn
  margin: 5px 0 0 5px
  display: inline-block
  vertical-align: top
  width: 24px
  height: 24px
  cursor: pointer
  background: transparent url('/images/icon-exit-composer.png') 0 0 no-repeat

.submit-button
  display: inline-block
  padding: 8px 20px
  border-radius: 5px
  font-weight: bold
  font-size: 14px
  background: linear-gradient(to bottom,#61BD4F 0,#5AAC44 100%)
  color: #fff
  border: none
  box-sizing: border-box
  cursor: pointer
  &:hover
    background: linear-gradient(to bottom,#5AAC44 0,#519839 100%)

.delete-submit-btn
  width: 100%
  background: linear-gradient(to bottom,#D6DADC 0,#CDD2D4 100%)
  color: #b04632
  text-align: center
  cursor: pointer
  &:hover
    background: linear-gradient(to bottom,#CF513D 0,#B04632 100%)
    color: #fff
    box-shadow: 0 1px 0 #4d4d4d

.helper-tilt
  -webkit-transform: rotate(3deg)
  -moz-transform: rotate(3deg)
  transform: rotate(3deg)