.inline-block
  display: inline-block
  vertical-align: top
  
.clear
  clear: both
  
.smaller
  font-size: 9px
  color: #8c8c8c
  
.label-red
  background: #eb5a46
.label-green
  background: #61bd4f
.label-blue
  background: #0079bf
.label-orange
  background: #ffab4a
.label-yellow
  background: #f2d600
.label-purple
  background: #c377e0
.label-aqua
  background: #00c2e0
.label-pink
  background: #ff80ce
.label-lime
  background: #51e898
.label-black
  background: #4d4d4d
  
.close-modal
  float: right
  width: 16px
  height: 16px
  cursor: pointer
  background: transparent url('/images/icon-exit.png') 0 0 no-repeat
.close-pop-window
  position: absolute
  top: 10px
  right: 0
  width: 20px
  height: 20px
  cursor: pointer
  background: transparent url('/images/icon-exit.png') 0 0 no-repeat
.close-edit-modal
  float: right
  width: 24px
  height: 24px
  background: transparent url('/images/icon-exit-composer.png') 0 0 no-repeat
  background-size: 24px 24px

  
  
  

textarea:focus
  outline: none

input[type="submit"]
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none